.main-container {
  display: flex;
  background-color: rgb(75, 75, 213);
}

.content-container {
  width: 50%;
}
.content {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
  font-size: 1.2rem;
  line-height: 2rem;
}

h1 {
  margin: 0.8rem 0;
}

.tent {
  margin: 2rem;
  color: white;
}
.btn-btc {
  text-decoration: none;
  color: white;
  background-color: rgb(166, 233, 33);
  margin-left: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

/* other half */
.btc-container {
  width: 50%;
}
